*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right, #e66465, #9198e5);
  font-family: 'Merriweather', serif, sans-serif;
}
.Weather-app{
  display: flex;
  flex-direction: column;
}
.Weather-app .search-input{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.Weather-app .search-input input{
  width: 100%;
  max-width: 400px;
  padding: .8rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 0 .5rem 0 .5rem;
  border-bottom: .3rem solid #bbff00;
  background-color: rgba(255, 255, 255, .5);
  color: #080077;
  transition: .3s ease-in-out;
  font-size: 1rem;
}
.Weather-app .search-input input:focus{
  background-color: rgba(255, 255, 255, 0.89);
}
.Weather-app .content{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.Weather-app .content .location,
.Weather-app .current{
  padding: 3rem;
  color: #fff;
}
.Weather-app .location .city{
  font-size: 2.5rem;
  margin: 2.5rem 0;
}
.Weather-app .current .temp{
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 4px rgba(0, 0, 0, .5);
}
.Weather-app .current .temp span{
  font-weight: 400;
}
.Weather-app .current .Weather{
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 2px rgba(0, 0, 0, .5);
}
.Weather-app .current .hi-low{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 2px rgba(0, 0, 0, .5);
}
@media(max-width: 600px){
  .Weather-app .search-input{
    padding: 3rem 0 0 0;
  }
  .Weather-app .search-input input{
    width: 80%;
    padding: .6rem 1rem;
    font-size: .8rem;
  }
  .Weather-app .content{
    display: block;
  }
  .Weather-app .content .location,
  .Weather-app .current{
    padding: 3rem 2rem;
  }
  .Weather-app .location .city{
    font-size: 2.5rem;
    margin: 2.5rem 0;
  } 
  .Weather-app .current .temp{
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .Weather-app .current .Weather{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}